@import url("https://use.typekit.net/bie2kmz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.darkBlue {
}

@font-face {
  font-family: "ThreeSix21Pro";
  src: url("../fonts/ThreeSix21Pro.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

.red {
  fill: #ff6200;
  transition: ease-in 300ms;
}
.green {
  fill: #00d118;
  transition: ease-in 300ms;
}
.blue {
  fill: #0000ff;
  transition: ease-in 300ms;
}
